<div class="modal-background">
    <div class="modal-content">
      <nz-avatar [nzText]="usuarioInicial" [nzSize]="48" class="avatar-modal"></nz-avatar>
      <h2 class="titulo-modal">Sesión expirada</h2>
      <p>Ingresa tu contraseña para continuar</p>
  
      <nz-input-group nzPrefixIcon="lock">
        <input
          [(ngModel)]="password"
          (input)="mensajeError = ''"
          nz-input
          type="password"
          placeholder="Contraseña"
        />
      </nz-input-group>
  
      <div *ngIf="mensajeError" class="error-modal">
        {{ mensajeError }}
      </div>
      
      <button nz-button nzType="primary" nzBlock (click)="enviar()">Reintentar autenticación</button>
    </div>
  </div>
  