.dashboard-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003366;
  }
  
  .dashboard-card {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 90%;
    max-width: 420px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .botones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  
  .btn-acceso {
    height: 40px;
  }
  
  .iframe-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #003366;
  }
  
  .iframe-full {
    width: 100vw;
  height: 100vh;
  border: none;
  display: block;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
  }